

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
 .brand-logo {
  margin-left: 10px;
 }
 
.description  {
  margin: 10px 20px 10px 20px;
}

.bookName {
  font-size: large;
  font-weight: 500;
  font-style: italic;
  font-family: sans-serif;
}
.validEnvi {
  margin: 10px 10px 50px 10px;
}
.subtitle {
  text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    width: 250px;
}
.advertencia {
  background-color: #ef5350 ;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

td, th {
  text-align: center;
}
td.resultEnvi {
  width: 100px;
}

.tendency {
  text-align: left;
}

.checkTendency {
  width: 20px !important;
  height: auto !important;
  background-color: lightgrey !important;
  text-align: center;
}

.resultEnvi {
  text-align: center;
  background-color: turquoise;
  padding: 10px;
}

.legend {
  padding: 10px 10px 10px 20px;
    background-color: #04a1df;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.legend p {
  margin: 0;
  padding: 0;
}

.copyr {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

